<div class="footer">
   <div class="container">
     <div class="row">
       <div class="col-md-6 social">
         <p>Development and design by <a target="_blank" href="https://www.facebook.com/VolodiaDei">Volodymyr Dey</a></p>
         <p>&copy; 2017 Забуте кіно<p>
       </div>
       <div class="col-md-6 social">
         <p>Ми в соціальних мережах:</p>
           <a target="_blank" href="https://www.facebook.com/zabutekino/?fref=ts"><i class="fa fa-facebook-official" aria-hidden="true"></i></a>
           <a target="_blank" href="https://vk.com/zabutekino"><i class="fa fa-vk" aria-hidden="true"></i></a>
       </div>
     </div>
   </div>
</div>
