<section>
    <div class="container">
      <div class="row">
        <div class="col-md-12 head">
          <h1>Цієї п'ятниці в забутому кіно</h1>
          <h1>"Щасливчик Гілмор"</h1>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 poster">
          <img src="https://pp.userapi.com/c638024/v638024196/36408/loS5Xj-ZfAw.jpg" class="img-responsive poster-img" alt="Poster">
        </div>
        <div class="col-md-6">
          <div class="row">
            <div class="cd-md-12">
              <div class="row">
                <div class="col-md-6">
                  <i class="fa fa-calendar" aria-hidden="true"></i> 12 травня 2017
                  <br>
                  <i class="fa fa-clock-o" aria-hidden="true"></i>  19.00
                </div>
                <div class="col-md-6">
                  <i class="fa fa-map-marker" aria-hidden="true"></i> вул. Винниченка 30
                </div>
              </div>
            </div>
            <div class="cd-md-12">
              <br>
              <p>Цієї п`ятниці перед показом кіно у нас виступить музичний гурт Ретровай . Приходьте на 19.00 і не запізнюйтесь, щоб не пропустити гарних пісеньок. Зразу після цього у нас перегляд комедії "Щасливчик Гілмор" з Адамом Сендлером. Винниченка 30.</p>
              <div class="sample-audio">
                <p>Ретровай–Каміння (demo) </p>
                <audio controls>
                  <source src="https://psv4.userapi.com/c613227/u56873635/audios/cc9b5aca783f.mp3?extra=1Q2JVB9NjzH_5yZ9wXQTWpBAjxI-bTKRstKkIKzJ8V-9YVeGbDHL0m-K_dyzoYah5doB33KADB9lO_DiTXZ7UGvMr3JXsI6THaUaE49De_wNVyLECofOUMmTBSItjfsTCNNRzOHmrl82VE1i" type="audio/ogg">
                  <source src="https://psv4.userapi.com/c613227/u56873635/audios/cc9b5aca783f.mp3?extra=1Q2JVB9NjzH_5yZ9wXQTWpBAjxI-bTKRstKkIKzJ8V-9YVeGbDHL0m-K_dyzoYah5doB33KADB9lO_DiTXZ7UGvMr3JXsI6THaUaE49De_wNVyLECofOUMmTBSItjfsTCNNRzOHmrl82VE1i" type="audio/mpeg">
                  Your browser does not support the audio element.
                </audio>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</section>
